.cards {
	border: 4px solid black;
	height: 268px;
	width: 188px;
	margin: 0 auto;
	float: left;
}

/*card measures 186x271
3 rows of four
game container is 744+margins*/

.wholegame {
	width: 50%;
	height: 100%;
	background-color: rgba(200,200,200,1);
	display: block;
	transition: all .5s;
	margin: 0 auto;
	overflow: hidden;
}

.buttons {
	position: relative;
	left: 22%;
}

.card-container {
/*	-webkit-perspective: 1000;*/
/*table-cell makes the element behave like a <td>*/
	float: left;
}

.card {
	cursor: pointer;
	margin:4px 4px;
	border: 2px solid blue;
	/* flip speed */
/*	-webkit-transition: 0.1s;
	-webkit-transform-style: preserve-3d;*/
	position: relative;
	width:186px;
	height:271px;
}

/*.back {
	z-index: 0;
	display: none;
}

background image was not working. used "content"
.front {
	z-index: 1;
	content: url(../img/card_back.jpg);
}*/

.card-container .flipped {
	-webkit-transform: rotateY(180deg);
}
